
em {
  color :#A5B4FC;
  font-style: normal;
  
}
h1 {
  font-size: 3.5 em;
  color: #A5B4FC;
  font-family: 'Montserrat';
}
p {
  font-size: 1.1em;
  font-family: 'Manrope';
  text-align: justify;
}
li {
  font-size: 1em;
  font-family: 'Manrope';
}
 a {
   color:black;
   text-decoration: none;
   font-size: 1em;
  /* font-family: 'Manrope'*/
 }
 body {
   background-color: #1F2039;
   font-family: 'Manrope', sans-serif;
   
 }
 header,footer {
   background-color: ghostwhite;
 }
 a {
   color :#242424;
 }
 p,li,h2 {
   color:#f9f8ff;
  
 }
 .cta{
   background: linear-gradient(#8e86b5,#acaeed);
   font-family: 'Montserrat';
   color: floralwhite;
 }
 
